page-home {
    course {
        display: flex;
        justify-content: center;
    }
    course .scramble {
        display: none;
    }
    course.scrambling .scramble {
        display: block;
    }
}
